


#donatebtn, #learnmorebtn, #volunteerbtn {
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    font-size: 24px;
    width: auto;
    height: auto;
    line-height: 45px;
}

#donatebtn{
    background-color: #E47027;
    color: white;
    border: white solid 1px;

}

#donatebtn:hover{
    color: #E47027;
    background-color: white;
    border: #E47027 solid 1px;
}

#learnmorebtn{

    background-color: #4E4B62;
    color: white;
    border: white solid 1px;

}

#learnmorebtn:hover{
    color: #4E4B62;
    background-color: white;
    border: #4E4B62 solid 1px;
}


#volunteerbtn{

    background-color: #5D775A;
    color: white;
    border: white solid 1px;
    
}

#volunteerbtn:hover{
    color: #5D775A;
    background-color: white;
    border: #5D775A solid 1px;
}

/* TYPOGRAPHY */

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: #203727;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #203727;
    font-size: 42px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #5D775A;
    font-size: 28px;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    color: #5D775A;
    font-size: 20px;
}


p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    color: #203727;
}


/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif; */

/* GLOBAL NAV */

#donatebutton {
    background-color: #E47027;
    color: white;
    border: white solid 1px;
}

#donatebutton:hover{
    color: #E47027;
    background-color: white;
    border: #E47027 solid 1px;
}

#volunteerbutton {
    background-color: #5D775A;
    color: white;
    border: white solid 1px;
}

#volunteerbutton:hover{
    color: #5D775A;
    background-color: white;
    border: #5D775A solid 1px;
}

#loginbutton {
    color: #E47027;
    background-color: white;
    border: #E47027 solid 1px;
}

#loginbutton:hover{

    background-color: #E47027;
    color: white;
    border: white solid 1px;
}



/*HEADER*/

header{
    background-image: url(../images/HeaderPhoto.png);
    height: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    
}

#welcome {
    text-align: left;
    /* padding:50px; */
    top: 150px;
}



/*INTRO ICONS*/

#introicons{
background-color: #FBF9F2;

}


/*HOMEPAGE VOLUNTEER*/

#homevolunteer{
    padding: 30px;
    margin: 0 auto;
    background-color: #FBF9F2;
}

.list{
    list-style-type: none;
    padding:0;
}

/* HOMEPAGE DONATE*/

#homedonate{
    padding: 30px;
    margin: 0 auto;

}

/*HOMEPAGE ANIMALS*/

#homeanimals{
    background-color: #EEF3EE;
    padding: 30px;
    margin: 0 auto;
}

 .container {
    position: relative;
    width: 250px;
    
  }
  
  .image {
    display: block;
    width: 250px;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    width: 250px;
    bottom: 0;
    /* left: 0;
    right: 0; */
    background-color: rgb(255, 255, 255,0.25);
    /* box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    overflow: hidden;
    height: 30%;
    transition: .5s ease;

  }
  
  .container:hover .overlay {
    width: 250px;
    height: 90%;
    border-radius: 14px;
  }
  
  .text {
    color: white;
    font-size: 18x;
    position: absolute;
    top: 70%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-30%, -50%);
    text-align: left;
  }

  /* was: transform: translate(-50%, -50%); */


/*VISIT US*/
#homevisitus{
    padding: 30px;
    margin: 0 auto;
}

.card{
    border-radius: 16px;
}

/*CUB CORNER*/

#cubcorner {
    background-color: #F2F4F5;
}

/*PARTNERS*/

.partner1 {
    width: 200x;
}

.partner2 {
    width: 180px;
}

.partner3 {
    width: 200px;
}

.partner4 {
    width: 120px;
}

/*DID YOU KNOW*/


#didyouknow{
    background-color: #FBF9F2;
}

#cta {
    background-color: white;
    height: 80px;
    padding-top: 10px;
}



/* .didyouknowGrid {
    display: grid;
    max-width: 1500px;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: 235px 235px 235px;
    grid-template-areas: 
    "title title title title"
    "icon1 icon2 icon3 dykphoto"
    "cta cta cta cta";
    margin: 0 auto;
}

#title {
    grid-area: title;
}

#icon1 {
    grid-area: icon1;
}


#icon2 {
    grid-area: icon2;
}

#icon3 {
    grid-area: icon3;
}

#dykphoto {
    grid-area: dykphoto;
}

#cta {
    grid-area: cta;
} */





/*ABOUT US PAGE*/

.headeraboutus{
    background-image: url(/images/HeaderAboutUs.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 508px;
}

.breadcrumb{
    float: right;
}



.pagetitle{
    text-align: center;
}








@media only screen and (max-width: 576px){

/* TYPOGRAPHY */

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: #203727;
    font-size: 36px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #203727;
    font-size: 28px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #5D775A;
    font-size: 20px;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    color: #5D775A;
    font-size: 20px;
}


p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    color: #203727;
    font-size: 14px;
}


/*BUTTONS*/


#donatebtn, #learnmorebtn, #volunteerbtn {
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    font-size: 18px;
    width: auto;
    height: auto;
    line-height: 35px;
}

/*GLOBAL NAV*/

.phoneNone {
    display: none;
}

.emailNone{
    display:none;
}

/*HEADER*/

header{
    background-image: url(../images/HeaderPhoto.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    
}

#welcome {
    text-align: left;
    /* padding:50px; */
    top: 50px;
}

/*ICONS*/

.icon1, .icondyk {
    width: 50px;
    padding:0 !important;
}

.introiconbox{
    display:inline-block;
    align-items: baseline;
    width: 130px;
    padding: 6px;
    align-items: center;
    margin: 0 auto;
}

/*PARTNERS*/

#partners{
    margin:0 auto;
}
.partnerbox {
    display:inline-block;
    align-items: baseline;
    width: 130px;
    padding: 6px;
    align-items: center;
    margin: 0 auto;
}

.partner1icon, .partner2icon, .partner3icon, .partner2icon{
    width:130px;
}


/*CUB CORNER*/

.dykbox{
    display:inline-block;
    align-items: baseline;
    width: 100px;
    padding: 6px;
    align-items: center;
    margin: 0 auto;
}

}